
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cargar Productos</title>
</head>
<body>
    <div style="
    background-color: lightgrey;
    width: 40%;
    height: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;">

<form action="api/productos" method="post" style="display: flex;flex-direction: column;align-items: stretch; ">
    <label for="fname">Nombre Producto:</label>
    <input type="text" id="titulo" name="titulo"><br>
    <label for="lname">Precio:</label>
    <input type="number" id="precio" name="precio"><br>
    <label for="lname">Thubnail:</label>
    <input type="text" id="thubnail" name="thubnail"><br>
    <button type="submit">Palante</button>
</form>

<form action="../views/productos.ejs" method = "get">
    <button >Ver productos</button>
</form> 

</div>
</body>
</html>