<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Productos</title>
</head>

<body>
    <div class="maximoAncho">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item colorTexto">
                    <a class="nav-link" href="/">Productos</a>
                </li>
                <li class="nav-item colorTexto">
                    <a class="nav-link" href="../views/form.ejs">Cargar Producto</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>

    <div class="flex">
            <% data.forEach(function(data){ %>
                <div class="card m-2 tarjeta">
                    <div class="row g-0">
                    <div class="col-md-5">
                        <img class="img-fluid rounded-start imagen" src= <%= data.img %>  >
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                        <h5 class="card-title"><%= data.title %></h5>
                        <p class="card-text">Precio $<%= data.price %></p>
                        </div>
                    </div>
                    </div>
                </div>
            <% }); %>
    </div>
</body>

</html>